.card {
    height: 522px;
    width: 384px;

    display: flex;
    flex-direction: column;
    gap: var(--300);

    background-color: var(--White);

    box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);

    border: 1px solid var(--Gray-950);
    border-radius: 20px;
    padding: var(--300);
}

.card-img {
    border-radius: 10px;
}

.card article {
    display: flex;
    flex-direction: column;
    gap: var(--150);
}

.published {
    font-family:'Figtree-Medium', sans-serif;
}

.author {
    display: flex;
    align-items: center;
    gap: 5.5px;
}

.author img {
    width: 32px;
    height: 32px;
}