@import url(./stylesheets/normalize.css);
@import url(./stylesheets/card.css);
@import url(./stylesheets/footer.css);

@font-face {
    font-family: 'Figtree-Medium';
    src: url('./fonts/Figtree-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Figtree-ExtraBold';
    src: url('./fonts/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

:root {
    /*COLORS*/
    --yellow: #F4D04E;
    --Gray-950: #111111;
    --Gray-500: #6B6B6B;
    --White: #FFFFFF;

    /*SPACING*/
    --300: 24px;
    --150: 12px;
    --100: 8px;
    --50: 4px;
}

/*-----------------------GLOBAL STYLES-----------------------*/

body {
    font: clamp(14px, 1.11vw, 16px)/150% 'Figtree-Medium', sans-serif;
    letter-spacing: 0px;

    color: var(--Gray-950);

    background-color: var(--yellow);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    flex:1;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font: clamp(20px, 1.67vw, 24px)/150% 'Figtree-ExtraBold', sans-serif;
}

h3 {
    font: clamp(12px, 0.97vw, 14px)/150% 'Figtree-ExtraBold', sans-serif;
}

p {
    color: var(--Gray-500);
}