@import url(./stylesheets/normalize.css);

@font-face {
    font-family: 'Figtree-Medium';
    src: url('./fonts/Figtree-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Figtree-ExtraBold';
    src: url('./fonts/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

:root {
    /*COLORS*/
    --yellow: #F4D04E;
    --Gray-950: #111111;
    --Gray-500: #6B6B6B;
    --White: #FFFFFF;

    /*SPACING*/
    --300: 24px;
    --150: 12px;
    --100: 8px;
    --50: 4px;
}

/*-----------------------GLOBAL STYLES-----------------------*/


